@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
  --green: #27ae60;
  --black: #333;
  --white: #fff;
  --bg-color: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid var(--black);
}

/*  */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.btn {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  background: var(--green);
  color: var(--white);
  text-align: center;
}

.btn:hover {
  background: var(--black);
}
button {
  background: transparent;
}

.message {
  display: block;
  background: var(--bg-color);
  padding: 1.5rem 1rem;
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 2rem;
  text-align: center;
  transform: translate(0px, -701px);
}

.container {
  padding: 2rem;
  margin: 0 auto;
  transform: translate(13px, 674px);
}

.admin-product-form-container.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.admin-product-form-container form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
  transform: translate(126px, -616px);

  background: var(--bg-color);
}

.admin-product-form-container form h3 {
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

.admin-product-form-container form .box {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  font-size: 1.7rem;
  margin: 1rem 0;
  background: var(--white);
  text-transform: none;
}

.product-display {
  margin: 2rem 0;
}

.product-display .product-display-table {
  width: 86%;
  text-align: center;
  transform: translate(195px, -614px);
}

.product-display .product-display-table thead {
  background: var(--bg-color);
}

.product-display .product-display-table th {
  padding: 1rem;
  font-size: 2rem;
}

.product-display .product-display-table td {
  padding: 1rem;
  font-size: 2rem;
  border-bottom: var(--border);
}

.product-display .product-display-table .btn:first-child {
  margin-top: 0;
}

.product-display .product-display-table .btn:last-child {
  background: crimson;
}

.product-display .product-display-table .btn:last-child:hover {
  background: var(--black);
}

/*//////////////////////////////////////////////////////////*/

.header {
  position: fixed;
  z-index: 2;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  width: 100%;
  background: rgb(213 174 39 / 43%);
  text-decoration: none;
  padding-left: 861px;
  box-shadow: 0 4px 20px 0 rgb(54 33 33 / 30%), 0 6px 20px 0 rgb(72 39 39 / 30%);
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 8rem 2rem 2rem;
  transform: translate(-779px, 0px);
  text-decoration: none;
}
.search_box {
  display: flex;
  align-items: center;
}
.search_box input {
  padding: 9px;
  width: 250px;
  background: rgb(228, 228, 228);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translate(-766px, 0px);
}
.search_box i {
  padding: 1.2rem;
  cursor: pointer;
  color: #fff;
  background: #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translate(-766px, 0px);
}
.header-icons {
  display: flex;
  align-items: center;
}
.header-icons i {
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icons .account img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
nav {
  background: rgb(213 174 39 / 43%);

  transform: translate(0px, 78px);
  width: 15%;
  position: fixed;
}
.side_navbar {
  padding: 1px;
  display: flex;
  flex-direction: column;
  margin-bottom: 146%;
}
.side_navbar span {
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
}
.side_navbar a {
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.links {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a {
  font-size: 13px;
}
.side_navbar a:hover {
  background: rgb(235, 235, 235);
  text-decoration: none;
}
.side_navbar .active {
  border-left: 2px solid rgb(100, 100, 100);
}

/* Main Body Section */
.main-body {
  width: 70%;
  padding: 1rem;
}

.history_lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.container1 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  /* height: 157px; */
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  .product-display {
    overflow-y: scroll;
  }

  .product-display .product-display-table {
    width: 80rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
